## Assignment 3: $k$ Nearest Neighbor

**Do two questions.**

`! git clone https://github.com/DS3001/knn`

**Q1.** This question is a case study for $k$ nearest neighbor The target variable `y` is `price` and the features are `year` and `mileage`.

1. Load the `./data/USA_cars_datasets.csv`. Keep the following variables and drop the rest: `price`, `year`, `mileage`. Are there any `NA`'s to handle? Look at the head and dimensions of the data.
2. Maxmin normalize `year` and `mileage`.
3. Split the sample into ~80% for training and ~20% for evaluation.
4. Use the $k$NN algorithm and the training data to predict `price` using `year` and `mileage` for the test set for $k=3,10,25,50,100,300$. For each value of $k$, compute the mean squared error and print a scatterplot showing the test value plotted against the predicted value. What patterns do you notice as you increase $k$?
5. Determine the optimal $k$ for these data.
6. Describe what happened in the plots of predicted versus actual prices as $k$ varied, taking your answer into part 6 into account. (Hint: Use the words "underfitting" and "overfitting".)

1. Load the ./data/USA_cars_datasets.csv. Keep the following variables and drop the rest: price, year, mileage. Are there any NA's to handle? Look at the head and dimensions of the data.

In [1]:
! git clone https://github.com/DS3001/knn

Cloning into 'knn'...
remote: Enumerating objects: 40, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 40 (delta 10), reused 2 (delta 2), pack-reused 25
Receiving objects: 100% (40/40), 11.00 MiB | 14.06 MiB/s, done.
Resolving deltas: 100% (13/13), done.

In [6]:
import pandas as pd  # Import the pandas package into workspace
import seaborn as sns # Import the seaborn package into workspace
import numpy as np # Import the seaborn package into workspace
df = pd.read_csv('/content/knn/data/USA_cars_datasets.csv',low_memory=False) # load csv into df

In [7]:
df = df.loc[:,('price', 'year', 'mileage')] # setting df to price, year, mileage variables only

In [8]:
print(df['price'].value_counts(), '\n') # display the counts of each of the unique values for price
print(df['year'].value_counts(), '\n') # display the counts of each of the unique values for year
print(df['mileage'].value_counts(), '\n') # display the counts of each of the unique values for mileage

# The NA's to handle in price are the 0's
# There aren't any NA's in year
# The NA's in mileage are the 0's and 1's

0        43
16500    26
13900    21
15500    19
15000    19
         ..
12560     1
11760     1
7340      1
6530      1
30100     1
Name: price, Length: 790, dtype: int64

2019    892
2018    395
2017    377
2016    203
2015    196
2014    104
2013     86
2012     72
2020     48
2011     23
2008     18
2010     13
2009     11
2003      9
2006      8
2004      6
2007      6
2005      6
2001      5
1998      4
2000      4
2002      2
1994      2
1997      2
1996      2
1973      1
1999      1
1984      1
1995      1
1993      1
Name: year, dtype: int64

1        11
0         6
31727     2
33808     2
21774     2
         ..
90685     1
54141     1
82240     1
66167     1
31371     1
Name: mileage, Length: 2439, dtype: int64

In [9]:
price = df['price'] # created a variable for the price column
price = price.replace(0, np.nan) # replace all 0's to NaN for price

In [10]:
print(price.unique(), '\n')# display all of the unique values in the price variable
price.value_counts() # display the count of each of the unique values in the price variable

[6.3000e+03 2.8990e+03 5.3500e+03 2.5000e+04 2.7700e+04 5.7000e+03
 7.3000e+03 1.3350e+04 1.4600e+04 5.2500e+03 1.0400e+04 1.2920e+04
 3.1900e+04 5.4300e+03 2.0700e+04 1.2710e+04 5.2000e+03 1.6500e+04
 5.2100e+03 3.8100e+04 1.2520e+04 1.5000e+04 6.1800e+03 2.0800e+04
 1.1900e+04 2.1500e+04 1.2000e+04 4.1900e+03 1.3000e+04 1.8500e+04
 2.9800e+04 5.3300e+03 1.6600e+04 1.9200e+04 7.3200e+03 7.0000e+03
 3.0500e+04 6.3300e+03 5.5000e+04 1.6200e+04 1.9000e+04 5.5800e+03
 5.4000e+04 1.6000e+04 2.7000e+04 7.7600e+03 1.9600e+04 2.0000e+04
 1.8100e+04 2.3000e+04 1.3490e+04 1.7800e+04 6.6500e+03 2.9100e+04
 2.1100e+04 1.8600e+04 4.3400e+03 1.9300e+04 1.2780e+04 1.5800e+04
 2.9400e+04 4.4300e+03 1.9400e+04 1.5900e+04 2.6400e+04 4.1400e+03
 1.8300e+04 1.7900e+04 4.6400e+03 2.4000e+04 1.3200e+04 1.8000e+04
 1.4900e+04 1.1500e+04 9.1100e+03 7.3500e+03 2.4500e+04 9.3000e+03
 3.9800e+04 5.3500e+04 1.5110e+04 3.4000e+04 2.6502e+04 5.9900e+03
 1.3600e+04 2.3605e+04 1.0780e+04 1.3800e+04 2.5201e+04 7.0700e+03
 8.7000e+03 1.8003e+04 8.5300e+03 2.3100e+04 1.7000e+04 3.4002e+04
 6.9800e+03 2.0802e+04 9.2000e+03 2.6500e+04 2.4802e+04 2.8500e+04
 4.7500e+04 2.3500e+04 2.3505e+04 1.0940e+04 3.2100e+04 5.3000e+04
 6.8300e+03 2.6414e+04 4.1600e+03 1.9405e+04 5.6900e+03 2.5900e+04
 2.4005e+04 5.0900e+03 1.9500e+04 3.2012e+04 6.8000e+03 4.2600e+03
        nan 3.1802e+04 7.2100e+03 2.8402e+04 3.3300e+04 6.7000e+03
 6.4400e+03 1.9900e+04 3.7000e+04 4.0400e+03 2.2300e+04 3.1200e+04
 4.2900e+03 2.2800e+04 1.9002e+04 3.9000e+04 6.0600e+03 2.8800e+04
 4.0000e+04 6.1400e+03 2.1000e+04 2.0105e+04 6.7600e+03 2.5800e+04
 5.4700e+03 2.4502e+04 7.9000e+03 2.7305e+04 1.5290e+04 2.5502e+04
 3.8000e+03 1.4000e+03 1.8402e+04 1.7500e+02 2.4503e+04 1.5840e+04
 2.0500e+04 2.1003e+04 4.2000e+03 1.7400e+04 3.2001e+04 1.5700e+04
 3.1009e+04 3.7400e+03 5.0000e+03 3.1002e+04 3.1600e+03 8.6000e+03
 6.0000e+03 1.2990e+04 2.5000e+01 4.4100e+03 2.2500e+04 7.4200e+03
 1.3500e+04 1.5500e+04 3.5400e+03 4.5500e+04 4.1300e+03 1.6300e+04
 4.5300e+03 1.5600e+04 4.1000e+03 1.8200e+04 1.0200e+04 4.0800e+03
 1.7000e+03 6.2000e+03 3.6500e+03 1.0500e+04 4.3500e+04 4.6100e+03
 3.4500e+03 3.8500e+04 6.8100e+03 2.9000e+03 4.4500e+03 5.8000e+03
 4.2400e+03 1.3700e+04 8.0000e+03 1.4200e+04 7.0400e+03 4.7000e+03
 3.0851e+04 4.8800e+03 1.4500e+04 7.6000e+03 1.3270e+04 1.2800e+04
 3.3000e+04 9.2800e+03 9.0000e+02 7.5600e+03 1.7100e+04 8.0200e+03
 1.0300e+04 2.2600e+04 1.0480e+04 2.2700e+04 7.4100e+03 7.5700e+03
 6.7000e+04 1.8900e+04 1.2560e+04 1.1760e+04 3.1700e+04 7.3400e+03
 8.2000e+03 3.0000e+03 6.5300e+03 1.2700e+04 7.2500e+02 7.4000e+03
 9.8000e+03 4.4000e+03 1.0330e+04 1.8000e+03 5.0000e+01 7.2000e+02
 2.5000e+03 9.1900e+03 1.0900e+04 2.2809e+04 5.5200e+03 2.3200e+03
 2.3702e+04 4.0500e+03 1.4810e+04 2.9600e+03 2.4800e+04 6.2700e+03
 1.8800e+03 1.0050e+04 2.2500e+02 2.6900e+04 1.4200e+03 2.7003e+04
 3.5000e+02 5.6000e+03 6.6800e+03 1.0120e+04 3.9200e+03 5.6300e+03
 2.8000e+03 8.8500e+03 1.8712e+04 2.2200e+03 6.9300e+03 3.4400e+03
 5.0412e+04 9.5000e+02 9.2700e+03 1.1380e+04 2.7250e+03 3.7900e+03
 4.0514e+04 1.0000e+03 2.9250e+03 3.8300e+03 4.3402e+04 1.0250e+03
 1.7200e+04 5.4680e+04 6.9400e+03 1.3080e+04 1.0630e+04 4.3009e+04
 4.6000e+03 4.9500e+03 3.7600e+03 3.9000e+03 6.2400e+03 4.1500e+03
 6.1200e+04 6.4900e+03 5.1502e+04 2.5000e+02 8.1600e+03 7.7700e+03
 2.0000e+02 1.8250e+03 9.2100e+03 5.8500e+04 1.2500e+02 3.9600e+03
 5.9980e+03 3.7000e+03 1.5050e+04 3.6300e+04 5.5600e+04 2.6300e+03
 4.5000e+02 2.0400e+04 4.3200e+03 3.3001e+04 1.0000e+04 5.7900e+03
 1.4750e+04 4.0100e+03 3.5500e+03 3.0400e+03 3.6400e+04 4.4800e+03
 3.1003e+04 7.5000e+01 4.6900e+03 4.6900e+04 1.0740e+04 2.7102e+04
 5.0000e+02 5.1000e+03 1.5010e+04 2.3200e+04 3.3900e+03 3.1400e+03
 1.0440e+04 2.3911e+04 2.1400e+04 5.3800e+03 1.1000e+04 3.0300e+04
 2.3000e+03 4.3100e+03 2.6012e+04 4.8500e+04 3.3300e+03 1.1200e+04
 4.7300e+03 2.4900e+04 8.3500e+03 4.7500e+02 3.2100e+03 8.4300e+03
 2.5503e+04 2.6000e+04 8.6100e+03 2.8000e+04 8.4900e+04 1.0840e+04
 1.0000e+02 1.1050e+04 3.5700e+03 2.5001e+04 1.1100e+04 4.6500e+03
 3.8200e+03 2.9502e+04 6.1600e+03 1.0910e+04 3.8100e+03 3.0200e+03
 2.0000e+03 3.8700e+03 2.4811e+04 5.4200e+03 4.7500e+03 1.2000e+03
 6.4700e+03 3.2500e+04 6.9000e+03 1.1030e+04 3.4600e+03 3.2500e+03
 2.7705e+04 7.2000e+03 2.8714e+04 2.7502e+04 2.9314e+04 2.7002e+04
 2.8214e+04 2.9900e+04 2.7202e+04 1.4700e+04 4.5000e+03 2.5511e+04
 7.7000e+03 2.7402e+04 1.5000e+03 2.6602e+04 1.4000e+04 2.9809e+04
 3.6900e+04 2.6902e+04 1.0950e+04 1.6900e+04 2.5600e+04 2.9700e+04
 2.7702e+04 2.5811e+04 3.7500e+04 2.6211e+04 2.4205e+04 2.7111e+04
 2.7411e+04 2.7302e+04 2.6311e+04 3.3500e+04 2.7511e+04 2.7200e+04
 2.6511e+04 2.4002e+04 1.8511e+04 2.9000e+04 2.3402e+04 1.3300e+04
 1.9700e+04 2.3211e+04 1.8111e+04 1.7700e+04 2.1700e+04 3.5500e+04
 2.9500e+04 2.5300e+04 3.5300e+04 6.2000e+04 4.6000e+04 9.0000e+03
 4.7400e+04 2.4400e+04 3.3100e+04 2.2000e+04 3.5000e+04 1.1600e+04
 2.8100e+04 6.3200e+04 3.6800e+04 3.8800e+04 3.1100e+04 2.2400e+04
 3.7100e+04 3.2800e+04 1.2300e+04 9.4000e+03 2.3800e+04 3.1600e+04
 4.6800e+04 2.1800e+04 3.1500e+04 3.4500e+04 1.0700e+04 1.3400e+04
 1.4100e+04 3.8600e+04 9.1000e+03 8.9000e+03 3.3000e+03 1.7300e+04
 3.4800e+04 3.2200e+04 3.3200e+04 2.4300e+04 2.7500e+04 1.0800e+04
 1.1400e+04 4.2700e+04 2.1200e+04 9.6000e+03 3.5100e+04 2.6300e+04
 1.7600e+04 1.9100e+04 1.5200e+04 1.6100e+04 1.4800e+04 1.6700e+04
 1.5300e+04 6.5000e+03 2.8300e+04 2.7300e+04 3.5000e+03 8.3000e+03
 3.0000e+04 2.1600e+04 2.2100e+04 1.4300e+04 4.3400e+04 1.2500e+04
 1.3900e+04 1.7500e+04 1.8700e+04 2.7900e+04 7.5000e+03 2.0200e+04
 2.9300e+04 3.1000e+04 3.2400e+04 2.3300e+04 6.1000e+03 5.2000e+04
 3.6000e+04 1.2995e+04 1.7750e+04 1.0295e+04 1.6995e+04 2.3995e+04
 1.5810e+04 2.0227e+04 2.0999e+04 2.2499e+04 2.3495e+04 2.5250e+04
 1.5322e+04 2.1232e+04 8.5000e+03 2.8700e+04 7.1000e+03 3.0700e+04
 1.5400e+04 2.5200e+04 1.3100e+04 2.8400e+04 2.0300e+04 1.3000e+03
 1.7500e+03 1.6800e+04 1.1800e+04 2.7100e+04 2.2000e+03 1.8800e+04
 8.4000e+03 4.9000e+03 2.1900e+04 1.3750e+04 1.6400e+04 1.5100e+04
 3.4100e+04 3.3800e+04 2.9600e+04 2.7800e+04 1.8400e+04 3.2000e+04
 2.6800e+04 8.0000e+02 1.9000e+03 3.6000e+03 2.7000e+03 9.7000e+03
 4.8000e+04 5.4500e+04 5.5000e+03 2.5500e+04 2.5700e+04 2.8200e+04
 4.2500e+04 3.6500e+04 2.0900e+04 2.0100e+04 2.6700e+04 2.3900e+04
 1.7347e+04 2.5888e+04 2.1289e+04 1.7999e+04 3.0977e+04 1.3799e+04
 9.9000e+03 6.5500e+04 3.6200e+04 3.2000e+03 8.7500e+03 1.1975e+04
 2.3600e+04 3.0900e+04 4.0400e+04 3.8000e+04 2.3700e+04 5.4900e+04
 2.4700e+04 3.8200e+04 2.3400e+04 5.0500e+04 4.9000e+04 2.5400e+04
 3.5200e+04 5.6700e+04 4.0200e+04 6.5200e+04 6.3000e+04 4.4000e+04
 7.0000e+04 5.6200e+04 5.7700e+04 7.4000e+04 6.0200e+04 6.0000e+04
 4.1500e+04 2.8600e+04 4.6500e+04 3.9500e+04 4.6700e+04 4.2800e+04
 3.0200e+04 2.5100e+04 5.6500e+04 3.4300e+04 3.7200e+04 3.1800e+04
 4.6300e+04 4.5000e+04 4.9500e+04 4.0000e+03 4.7000e+04 5.0000e+04
 4.7300e+04 7.8050e+03 4.4500e+04 3.5700e+04 4.3600e+04 2.2900e+04
 7.8000e+03 9.5000e+03 1.2100e+04 2.4100e+04 1.2400e+04 3.9700e+04
 3.8700e+04 3.7700e+04 2.2200e+04 3.9950e+04 3.7600e+04 1.8288e+04
 3.6600e+04 1.8299e+04 3.0995e+04 6.5000e+02 1.1300e+04 3.2700e+04
 1.3500e+03 1.1700e+04 1.1500e+03 2.0600e+04 4.8400e+04 4.6200e+04
 2.7600e+04 2.1000e+03 3.3700e+04 3.3400e+04 3.0600e+04 1.4400e+04
 4.0600e+04 4.3900e+04 6.4000e+03 4.1100e+04 4.0900e+04 3.9200e+04
 2.4200e+04 1.2600e+04 5.3000e+03 2.4600e+04 4.1200e+04 4.9900e+04
 3.4400e+04 1.0100e+04 4.2300e+04 5.1000e+04 4.5600e+04 1.9990e+04
 3.0999e+04 4.1000e+04 2.7999e+04 4.2000e+04 2.9795e+04 1.3995e+04
 3.5400e+04 2.4549e+04 2.4970e+04 2.5800e+03 5.9975e+04 2.8990e+04
 4.6999e+04 3.4700e+04 2.8900e+04 3.0800e+04 1.3388e+04 1.7250e+03
 3.3995e+04 2.4190e+04 1.9888e+04 2.4857e+04 2.6100e+04 2.0995e+04
 1.9498e+04 1.9995e+04 2.6985e+04 3.4995e+04 1.9440e+04 2.0950e+04
 2.8250e+03 3.2999e+04 6.6000e+03 5.0200e+04 3.5999e+04 1.8799e+04
 3.3999e+04 2.5998e+04 3.1831e+04 2.5995e+04 2.7990e+04 2.3985e+04
 2.7995e+04 2.9988e+04 2.1687e+04 2.9590e+04 2.8999e+04 1.3942e+04
 1.8500e+03 1.5495e+04 1.7589e+04 3.1790e+04 1.4495e+04 2.3999e+04
 1.6488e+04 1.2784e+04 9.7050e+03 2.5999e+04 3.4977e+04 1.5995e+04
 1.3487e+04 1.8707e+04 1.6080e+04 1.5268e+04 1.8497e+04 1.7150e+04
 1.4295e+04 1.6190e+04 1.7899e+04 1.6888e+04 8.3050e+03 2.1822e+04
 1.4488e+04 2.1995e+04 1.6593e+04 1.4247e+04 1.6999e+04 2.0159e+04
 5.9900e+04 8.2500e+02 2.6200e+04 2.6550e+04 5.6000e+04 4.5800e+04
 1.1450e+04 1.0850e+04 1.0450e+04 1.2200e+04 5.9000e+03 1.9800e+04
 8.8000e+03 7.5000e+02 1.2800e+03 6.0000e+02 6.9980e+03 7.9980e+03
 1.0999e+04 8.4950e+03 1.9925e+04 1.2750e+04 1.1621e+04 1.1590e+04
 1.1390e+04 1.2900e+04 1.0600e+04 2.4250e+03 9.2500e+02 3.7500e+02
 4.8000e+03 5.4750e+03 1.9500e+03 3.0100e+04]

16500.0    26
13900.0    21
15500.0    19
15000.0    19
22500.0    18
           ..
12560.0     1
11760.0     1
7340.0      1
6530.0      1
30100.0     1
Name: price, Length: 789, dtype: int64

In [11]:
df['price'] = price # change the unclean price column to the cleaned price variable
del price # deleting price variable

print(df.loc[0:5,'price'],'\n') # printing first 6 rows of price column

0     6300.0
1     2899.0
2     5350.0
3    25000.0
4    27700.0
5     5700.0
Name: price, dtype: float64

In [12]:
miles = df['mileage'] # created a variable for the mileage column
miles = miles.replace({0, 1}, np.nan) # replace all 0's to NaN for miles

In [13]:
print(miles.unique(), '\n')# display all of the unique values in the miles variable
miles.value_counts() # display the count of each of the unique values in the miles variable

[274117. 190552.  39590. ...  34553.  32557.  31371.]

40455.0    2
36064.0    2
33739.0    2
39985.0    2
34165.0    2
          ..
90685.0    1
54141.0    1
82240.0    1
66167.0    1
31371.0    1
Name: mileage, Length: 2437, dtype: int64

In [14]:
df['mileage'] = miles # change the unclean mileage column to the cleaned miles variable
del miles # deleting price variable

print(df.loc[0:5,'mileage'],'\n') # printing first 6 rows of mileage column

0    274117.0
1    190552.0
2     39590.0
3     64146.0
4      6654.0
5     45561.0
Name: mileage, dtype: float64

In [18]:
print(df.shape, '\n') # List the dimensions of df
df.head() #looking at the head of the data

(2499, 3)

     price  year   mileage
0   6300.0  2008  274117.0
1   2899.0  2011  190552.0
2   5350.0  2018   39590.0
3  25000.0  2014   64146.0
4  27700.0  2018    6654.0

2. Maxmin normalize year and mileage.

In [21]:
from sklearn.neighbors import KNeighborsRegressor # Import the kNN regression tool

# Maxmin normalization function:
def maxmin(z):
    z = (z-min(z))/(max(z)-min(z))
    return(z)

df['year'] = maxmin(df['year']) # maxmin normalize year variable
df['mileage'] = maxmin(df['mileage']) # maxmin normalize mileage variable

3. Split the sample into ~80% for training and ~20% for evaluation.

In [23]:
import matplotlib.pyplot as plt

y = df['price'] # Create target variable vector
X = df.loc[:,['year','mileage']] # Create feature matrix
X = X.apply(maxmin) # Normalize X

# Split the sample:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=100) # Split the sample 80 train/ 20 test

4. Use the  k NN algorithm and the training data to predict price using year and mileage for the test set for  k=3,10,25,50,100,300 . For each value of  k , compute the mean squared error and print a scatterplot showing the test value plotted against the predicted value. What patterns do you notice as you increase  k ?

**Q2.** This question is a case study for $k$ nearest neighbor. The data for the question include:

- age: age of the patient (years)
- anaemia: decrease of red blood cells or hemoglobin (boolean)
- high blood pressure: if the patient has hypertension (boolean)
- creatinine phosphokinase (CPK): level of the CPK enzyme in the blood (mcg/L)
- diabetes: if the patient has diabetes (boolean)
- ejection fraction: percentage of blood leaving the heart at each contraction (percentage)
- platelets: platelets in the blood (kiloplatelets/mL)
- sex: woman or man (binary)
- serum creatinine: level of serum creatinine in the blood (mg/dL)
- serum sodium: level of serum sodium in the blood (mEq/L)
- smoking: if the patient smokes or not (boolean)
- time: follow-up period (days)
- death event: if the patient deceased during the follow-up period (boolean)

1. Load the `./data/heart_failure_clinical_records_dataset.csv`. Are there any `NA`'s to handle? use `.drop()` to remove `time` from the dataframe.
2. Make a correlation matrix. What variables are strongly associated with a death event?
3. For the dummy variables `anaemia`, `diabetes`, `high_blood_pressure`, `sex`, and `smoking`, compute a summary table of `DEATH_EVENT` grouped by the variable. For which variables does a higher proportion of the population die when the variable takes the value 1 rather than 0?
4. On the basis of your answers from 2 and 3, build a matrix $X$ of the variables you think are most predictive of a death, and a variable $y$ equal to `DEATH_EVENT`.
5. Maxmin normalize all of the variables in `X`.
6. Split the sample into ~80% for training and ~20% for evaluation. (Try to use the same train/test split for the whole question, so that you're comparing apples to apples in the questions below.).
7. Determine the optimal number of neighbors for a $k$NN regression for the variables you selected.
8. OK, do steps 5 through 7 again, but use all of the variables (except `time`). Which model has a lower Sum of Squared Error? Which would you prefer to use in practice, if you had to predict `DEATH_EVENT`s? If you play with the selection of variables, how much does the SSE change for your fitted model on the test data? Are more variables always better? Explain your findings.

**Q3.** Let's do some very basic computer vision. We're going to import the MNIST handwritten digits data and $k$NN to predict values (i.e. "see/read").

1. To load the data, run the following code in a chunk:
```
from keras.datasets import mnist
df = mnist.load_data('minst.db')
train,test = df
X_train, y_train = train
X_test, y_test = test
```
The `y_test` and `y_train` vectors, for each index `i`, tell you want number is written in the corresponding index in `X_train[i]` and `X_test[i]`. The value of `X_train[i]` and `X_test[i]`, however, is a 28$\times$28 array whose entries contain values between 0 and 256. Each element of the matrix is essentially a "pixel" and the matrix encodes a representation of a number. To visualize this, run the following code to see the first ten numbers:
```
import matplotlib.pyplot as plt
import numpy as np
np.set_printoptions(edgeitems=30, linewidth=100000)
for i in range(5):
    print(y_test[i],'\n') # Print the label
    print(X_test[i],'\n') # Print the matrix of values
    plt.contourf(np.rot90(X_test[i].transpose())) # Make a contour plot of the matrix values
    plt.show()
```
OK, those are the data: Labels attached to handwritten digits encoded as a matrix.

2. What is the shape of `X_train` and `X_test`? What is the shape of `X_train[i]` and `X_test[i]` for each index `i`? What is the shape of `y_train` and `y_test`?
3. Use Numpy's `.reshape()` method to covert the training and testing data from a matrix into an vector of features. So, `X_test[index].reshape((1,784))` will convert the $index$-th element of `X_test` into a $28\times 28=784$-length row vector of values, rather than a matrix. Turn `X_train` into an $N \times 784$ matrix $X$ that is suitable for scikit-learn's kNN classifier where $N$ is the number of observations and $784=28*28$ (you could use, for example, a `for` loop).
4. Use the reshaped `X_test` and `y_test` data to create a $k$-nearest neighbor classifier of digit. What is the optimal number of neighbors $k$? If you can't determine this, play around with different values of $k$ for your classifier.
5. For the optimal number of neighbors, how well does your predictor perform on the test set?
6. So, this is how computers "see." They convert an image into a matrix of values, that matrix becomes a vector in a dataset, and then we deploy ML tools on it as if it was any other kind of tabular data. To make sure you follow this, invent a way to represent a color photo in matrix form, and then describe how you could convert it into tabular data. (Hint: RGB color codes provide a method of encoding a numeric value that represents a color.)

In [ ]:
**Q4.**